<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrinterTestForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PrinterTestForms.Properties.Settings>
            <setting name="X_putAwayPosition" serializeAs="String">
                <value>322</value>
            </setting>
            <setting name="X_takeOutPosition" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="X_toClipPosition" serializeAs="String">
                <value>318</value>
            </setting>
            <setting name="X_cleaningPosition" serializeAs="String">
                <value>298</value>
            </setting>
        </PrinterTestForms.Properties.Settings>
    </userSettings>
</configuration>